
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2>
<P>姓名:<input type="type" name="name" value="" /></P>
<P>帳號:<input type="type" name="name" value="" /></P>
<P>密碼:<input type="type" name="name" value="" /></P>
<P>性別:
    <input type="radio" name="name" value="" />男生
    <input type="radio" name="name" value="" />女生
    </P>
<P>
    興趣:
    <input type="checkbox" name="name" value="" />閱讀
    <input type="checkbox" name="name" value="" />游泳
    <input type="checkbox" name="name" value="" />看電影
</P>
<P>自我介紹:
    <textarea></textarea>>  </P>

